parseUrl does not handle underscores in URLs

I wasn't able to use the webinterface to my calendars in my local nextcloud instance, because of an underscore in the url. 

![parseurl](https://cloud.githubusercontent.com/assets/1104557/26091407/4cc122ce-3a0b-11e7-9c2b-2066ddcf77d0.png)

Changing the line to: 
`var parts = url.match(/^(?:([A-Za-z]+):)?(\/{0,3})([0-9.\-A-Za-z\_]+)(?::(\d+))?(?:\/([^?#]*))?(?:\?([^#]*))?(?:#(.*))?$/);` did fix the issue. 

I added a "\\_" to the hostname-part of the regex.

an underscore in the domain name you mean ?

thanks for the suggested fix.


> an underscore in the domain name you mean ?

exactly, that is what I was trying to say ;-)  

@noveens mind taking care of integrating this ?

@PVince81, sure.

Underscores are not valid in domain names

this guy thinks otherwise and links to some RFC, so not sure http://stackoverflow.com/a/2183140

I feel like that that's referring to DNS records names but not really hostnames that appear in URIs. The examples he gives are all SRV records for example. 

On a cell right now but I can definitely try to find another source for this.

Actually, from the answer on stack overflow you linked to:

> If the question is for host names (or for URLs, which include a host name), then this is different, the relevant standard is RFC 1123, section 2.1 "Host Names and Numbers" which limits host names to letters-digits-hyphen.

So yea @Lesstat should really make up conforming hostnames. I guarantee that this library is not the only one that's going to give you problems. Anything that strictly validates a URI will reject `our_cloud` 

Then I have some admin work to do. I'm sorry.